body
{
    color: gray
       text-align: center;  
       font-family: "Arial";
       font-size: 16px;
       margin: 0;
       padding: 0;



}
#container 
{
    background; url("../Imagenes/dragon.png") no-repeat center center cover;
    width: 70%;
    padding: 1em;   
    text-align: left;   
    border: 1px solid; #DDD
    margin: 0 auto;

#cabecera #logo
{with: 20px
:vertical-align: middle;

}
    
}

#container #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8;


}
#post
{
    background-color: antiquewhite;
}